<div class="<%= box_classes %>">
  <% if @title || menu %>
    <div class="standard-box_header card-header">
      <div class="standard-box_header-text">
        <% if @title %>
          <h5 class="card-title"><%= @title %></h5>
        <% end %>
      </div>
      <% if menu %>
        <div class="standard-box_menu">
          <%= menu %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="<%= content_classes %>">
    <%= body %>
    <%= content %>
  </div>
</div>