
<%= render StandardLayoutBoxComponent.new(title: "Units") do |component| %>

  <% component.with_menu do %>
    <div class="unit-menu">
      <%= form_with url: new_army_list_unit_path(@army_list), method: :get do |f| %>
        <div class="unit-menu__template-form">
          <%= unit_templates_select_grouped_armies(@army_list.game_system, f, :template_id) %>
          <%= f.submit "From Template", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to "Blank Unit", new_army_list_unit_path(@army_list), class: "btn btn-primary" %>
    </div>
  <% end %>

  <% component.with_body do %>
    <% @army_list.units.each do |unit| %>
      <%= render partial: "units/unit_card", locals: { unit:, army_list: @army_list } %>
    <% end %>
  <% end %>
<% end %>