<div data-controller="game-forms-turn-based">

  <button class="btn btn-primary mb-1" type="button" data-action="click->game-forms-turn-based#addTurn">
    <i class="bi bi-plus-square"></i> Add Turn
  </button>

  <div class="table-responsive">
    <table class="turn-grid mb-3 table" aria-label="Table containing the points for the different turns"
      style="--player-count: <%= @game.players.count %>">
      <thead>
        <tr class="turn-grid__row">
          <th scope="col" class="turn-grid__cell-counter">Turn</th>
          <% @game.players.each_with_index do |player, player_index| %>
            <th scope="col" class="turn-grid__cell-player" 
              data-game-forms-turn-based-target="playerCol" data-player-id="<%= player_index %>">
              <%= player.display_name %>
              <%= hidden_field_tag(players_attributes_form_name(player_index, "[id]"), player.id) %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody data-game-forms-turn-based-target="turnGrid">
        <% (0..@turn_count-1).each_with_index do |turn| %>
          <tr class="turn-grid__row">
            <th scope="row" class="turn-grid__cell-counter" data-game-forms-turn-based-target="turnCounter">
              <%= turn+1 %>
            </th>
            <% @game.players.each_with_index do |player, player_index| %>
              <td class="turn-grid__cell-inputs">
                <div class="turn-grid__cell-inputs-wrapper">
                  <% @scoring_values.each do |turn_field| %>
                    <%= turn_field(player, player_index, turn_field, turn) %>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="table-group-divider">
        <% if @scoring_values.count > 1 %>
          <tr>
            <td>By Score</td>
            <% @game.players.each_with_index do |player, player_index| %>
              <td class="turn-grid__cell-total">
                <div class="turn-grid__cell-total-wrapper">
                  <% @scoring_values.each do |turn_field| %>
                    <div class="score-container">
                      <%= player.score_by_keys[turn_field["key"].to_sym] %>
                    </div>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td>Total</td>
          <% @game.players.each_with_index do |player, player_index| %>
            <td class="turn-grid__cell-total">
              <%= player.score_by_keys.values.sum %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>

  <template data-game-forms-turn-based-target="emptyPlayerRow">
    <tr class="turn-grid__row">
      <th scope="row" class="turn-grid__cell-counter" data-game-forms-turn-based-target="turnCounter">
        TURN_NUMBER
      </th>
      <% @game.players.each_with_index do |player, player_index| %>
        <td class="turn-grid__cell-inputs">
          <div class="turn-grid__cell-inputs-wrapper">
            <% @game_system.turn_data.each do |turn_field| %>
              <%= turn_field(nil, player_index, turn_field) %>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  </template>
</div>