<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MBHZRKCH');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe title="GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-MBHZRKCH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <%= render Layout::MainHeaderComponent.new %>
    <%= render Layout::SystemAdminMenuComponent.new %>
    <%= render Layout::GameSystemMenuComponent.new(game_system: @game_system) %>
    <%= render Layout::WorldBuilderMenuComponent.new(world_building: @world_building) %>
    <%= render Common::FlashHandlerComponent.new(flash) %>

    <div class="container-fluid mt-2">
      <%= yield %>
    </div>
  </body>
</html>
